import("CellNOptR", "graph")
importFrom("CellNOptR", "preprocessing")

export("Binference",
    "gaBinaryT1W",
    "linksRanking",
    "makeBTables",
    "mapBTables2model",
    "mapDDN2model",
    "MIinference",
    "weighting",
    "buildFeederObjectDynamic",
    "identifyMisfitIndices",
    "integrateLinks",
    "runDynamicFeeder")
